DEVICE=eth0
BOOTPROTO=none
IPV6INIT=yes
MTU=1500
NM_CONTROLLED=yes
ONBOOT=yes
TYPE=Ethernet
IPADDR={{ freeipaserver_ip }}
NETMASK=255.255.255.0
GATEWAY={{ gateway_ip }}
DNS1={{ nameserver_ip }}
USERCTL=no
